html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("../images/white-waves.png");
  font-family: "Alegerya Sans", sans-serif;
  color: #777777;
}

a {
  color: #777777;
  padding-left: 15px !important;
  font-family: "Alegerya Sans", sans-serif;
}

a:hover {
  color: #48b873;
}

span:hover {
  cursor: pointer;
}

h2 {
  color: #4aaaa5;
  font-family: "Alegerya", serif;
}

.btn-info {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
}

.btn:active {
  background-color: black !important;
}

.btn:hover {
  background-color: #333 !important;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem #333 !important;
}

.container {
  max-width: 960px;
  background-color: #ffffff;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: inherit;
  flex: 1 0 auto;
}
@media only screen and (max-width: 959.98px) {
  .container {
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
